uvicorn
fastapi
sqlalchemy
python-dotenv
psycopg2
alembic
passlib
python-jose
python-multipart
dash==0.31.1
dash-html-components
dash-core-components
dash-table
numpy
notebook
pandas
matplotlib
seaborn
scikit-learn
xgboost