uvicorn
fastapi
sqlalchemy
python-dotenv
psycopg2
alembic
passlib
python-jose
python-multipart
dash
dash-html-components
dash-core-components
dash-table
dash_enterprise_auth
plotly
numpy
notebook
pandas
matplotlib
seaborn
scikit-learn
xgboost